{% extends "Layout.html" %}
{% block body %}

{% with messages= get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="row">
<div class="col-md-4" >
<div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 150mm; padding-left: 5%;">
    <div style="font-size: large;">{{ message }}</div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="card card-body" style="width: 150mm; ">
<h1 class="Titulo_body" style="text-align: center;">Data</h1>
<form action="/prediciendo" method="POST">
    <div class="form-group">
    <input type="text" name="Baseline Value" placeholder="Baseline Value" required class="form-control" style="font-size: large;">
    </div>
    <div class="form-group">
    <input type="text" name="Accelerations" placeholder="Accelerations" required class="form-control" style="font-size: large;">
    </div>
    <div class="form-group">
    <input type="text" name="Fetal_movement" placeholder="Fetal movement" required class="form-control" style="font-size: large;">
    </div>
    <div class="form-group">
    <input type="text" name="Uterine contractions" placeholder="Uterine contractions" required class="form-control" style="font-size: large;">
    </div>
    <div class="form-group">
    <input type="text" name="Light Deceleration" placeholder="Light Deceleration" required class="form-control" style="font-size: large;">
    </div>
    <div class="form-group">
    <input type="text" name="Severe deceleration" placeholder="Severe deceleration" required class="form-control" style="font-size: large;">
    </div>
    <div class="form-group">
    <input type="text" name="Prolongued deceleration" placeholder="Prolongued deceleration" required class="form-control" style="font-size: large;">
    </div>
    <div class="form-group">
    <input type="text" name="Abnormal short term variability" placeholder="Abnormal short term variability" required class="form-control" style="font-size: large;">
    </div>
    <div class="form-group">
    <input type="text" name="Mean value of short term variability" placeholder="Mean value of short term variability" required class="form-control" style="font-size: large;">
    </div>
    <div class="form-group">
    <input type="text" name="Percentage of time with abnormal long term variability" placeholder="Percentage of time with abnormal long term variability" required class="form-control" style="font-size: large;">
    </div>
    <button type="submit" class="btn btn-primary btn-block" style="font-size: large;">
        Analyze
    </button>
</form>
</div>
</div>
</div>
{% endblock %}